/* logo */
.logo {
    width:450px;
    height:300px;
}

/* some general css */
body{
    font-family:sans-serif;
    font-size:25px;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.nav1{
    text-align:center;
    width:150px;
    margin:auto;
    font-size:25px;
    line-height: 1.5;
    color:#000000;
}
.nav1:hover, .nav1:visited, .nav1:link, .nav1:active {
    background: yellow;
    font-weight:bold;
    color:#000000;
}
.nav2{
    text-align:center;
    width:100px;
    font-size:25px;
    margin:auto;
    color:#000000;
}
.nav2:hover, .nav2:visited, .nav2:link, .nav2:active{
    background: yellow;
    font-weight:bold;
    color:#000000;
}

.break{
    height:5px;
    background:#000000;
}

.topic{
    text-align:center;
    font-size:32px;
}

/* hard coding products section */
.products{
    background-color:rgb(255, 255, 255);
    width:300px;
    height:300px;
    line-height: .06;
    margin:auto;
}

.original{
    width:305px;
    height: 380px;
    padding: 5px;
    margin-bottom:30px;
}
.original:hover {
    background: yellow;
}

.apple{
    width:305px;
    height: 380px;
    padding: 5px;
    margin-bottom:30px;
}
.apple:hover {
    background: yellow;
}

.raisin{
    width:305px;
    height: 380px;
    padding: 5px;
    margin-bottom:30px;
}
.raisin:hover {
    background: yellow;
}

.walnut{
    width:305px;
    height: 380px;
    padding: 5px;
    margin-bottom:30px;
}
.walnut:hover {
    background: yellow;
}

.double{
    width:305px;
    height: 410px;
    padding: 5px;
    margin-bottom:30px;
}
.double:hover {
    background: yellow;
}

.strawberry{
    width:305px;
    height: 380px;
    padding: 5px;
    margin-bottom:30px;
}
.strawberry:hover {
    background: yellow;
}

.product_img{
    display: block;
    width:300px;
    height:300px;
    margin-left:auto;
    margin-right:auto;
    border: 3px solid #000000;
}

/* css for detail page */
.detail_img{
    display: block;
    width:600px;
    height:600px;
    margin-left:auto;
    margin-right:auto;
    border: 3px solid #000000;
}


#select{
    width:310px;
    height:400px;
    line-height: .06;
    margin-left:auto;
    margin-right:auto;
    font-size:25px;
}

.choose{
    width:280px;
    height:40px;
    border:3px solid #000000;
    font-size:20px;
}

.add{
    background:yellow;
    font-size:20px;
    width: 150px;
    height:40px;
    border:3px solid #000000;
}

/* css for cart page */
.cart{
    display: block;
    text-align:left;
    width:700px;
    height:700px;
    margin-left:450px;
    margin-right:0px;
    line-height: .06;
}

cart-line{
    display:flex;
}

.cart-description{
    text-align:left;
    margin: 30px 140px 20px 40px;
}

.remove{
    font-size:15px;
    line-height: 0.5;
    text-align:left;
}

.cart_img{
    width:140px;
    height:140px;
    border: 3px solid #000000;
    display: block;
    margin: 10px 0px 20px 0px;
    text-align:left;
}

.price{
    font-size:27px;
    line-height:2;
}

.checkout{
    display: block;
    margin-left:auto;
    margin-right:auto;
    font-size:23px;
    font-weight:bold;
    width:150px;
    height:45px;
    background:yellow;
}